#menuBtn {
    width: 40px;
    height: 40px;
    background: #4B96F3;
    border-radius: 3px;
    margin-left: 12px;
}

#menuBtn img {
    width: 30px;
    margin-top: 4px;
    margin-left: -7px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

